* {
    border: 0;
    margin: 0;
    font-family: Verdana;
}

body {
    background-image: url(Images/FondoHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

menu img {
    width: 10%;
    margin: 0%;
}

#Botones a {
    text-decoration: none;
    size: 100%;
}

#Botones p {
    border: #0057AD solid 1px;
    background-color: black;
    color: white;
}

#Botones {
    margin-right: 80%;
    padding-left: 1%;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}