* {
    border: 0;
    margin: 0;
    font-family: Verdana;
}

body {
    background-image: url(Images/FondoHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

menu img {
    width: 10%;
    margin: 0%;
}

#Botones a {
    text-decoration: none;
    /* size: 100%; */
}

#Botones p {
    border: #0057AD solid 1px;
    background-color: black;
    color: white;
}

#Botones {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#Botones img {
    width: 70px;
    height: 70px;
    justify-content: center;
}

#Botones,
#Botones p {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    grid-auto-rows: 100px;
    border-radius: 15px;
}

#Botones div:nth-child(7) {
    grid-column: 2;
    grid-row: 3 / 3;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}