* {
    border: 0;
    margin: 0;
    font-family: Verdana;
}

body {
    background-image: url(../Images/FondoHome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

menu img {
    width: 10%;
    margin: 0%;
}

#clock,
#date {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
    font-size: 500%;
    border: #0057AD solid 1px;
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}